body {
    color: #3b4642;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;	/*also loaded 600 for bold*/
}

.clsDesktop { margin:0; padding:0; background-color: lightgreen; }
.clsDesktop table { border: 1px solid black; }
.clsDesktop thead {  }
.clsDesktop thead td { background-color: black; vertical-align: bottom; }
.clsDesktop thead span { color: white; font-size: xx-large; vertical-align: bottom; }
.clsDesktop thead div { padding: 0 0 0 10px; }
.clsDesktop thead div a { font-size: 2em; padding: 0 5px 0 5px; color: white; display: inline; border-right: 1px solid red; text-decoration: none; }
.clsDesktop thead div a:last-child { border-right: 0; }
.clsDesktop thead div a:hover { background-color: orange; }

.clsDesktop tbody { }
.clsDesktop tbody td { padding: 10px }
.clsDesktop tbody td img { width:100px; }

.clsDesktop tfoot td { border-top: 1px solid black; text-align: right; }

.clsTablet {}

.clsPhone { margin:0; padding:0; background-color: lightcoral; }
.clsPhone table { width: 100%}
.clsPhone table thead { border: 1px solid red; }
.clsPhone thead td { background-color: black; vertical-align: bottom; padding: 0; margin:0 }
.clsPhone thead span { color: white; font-size: large; vertical-align: bottom; }
.clsPhone thead div { padding: 0 10px 0 10px; }
.clsPhone thead div a { color:white; display: block; text-align: center; border-bottom: 1px solid red; text-decoration: underline; }
.clsPhone thead div a:last-child { border-bottom: 0; }
.clsPhone thead div a:hover { color: red;}

.clsPhone tbody { }
.clsPhone tbody td img { width:80px; }

.clsPhone tfoot td { border-top: 1px solid black; text-align: right; }